:root {
  --primary: #ffffff;
  --bg: #000000;
  --hover-cal: #a59c9c;
  --heading-font-family: 'Press Start 2P';
  --para-head-font-family: 'Share Tech Mono';
}
.cal-th {
  padding: 1rem;
}

.cal-day-box {
  padding: 1rem;
}

.mask-start,
.mask {
  background-color: var(--hover-cal);
  color: var(--primary);
}

.cal {
  background-color: var(--primary);
  font-family: var(--para-head-font-family), Verdana;
}
