body {
  height: 100vh;
  background-color: beige;
}

header {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: black;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.head-bg {
  margin-top: 0;
  width: 70%;
  height: 70%;
}

.heading-one {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

main {
  margin-top: 13rem;
}
