@font-face {
  font-family: 'Press Start 2P';
  src: url('/fonts/PressStart2P-Regular.woff2') format('woff2'),
    url('/fonts/PressStart2P-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: white;
}

header {
  height: 15rem;
  width: 100%;
  font-family: 'Press Start 2P';
}

.header-img {
  background-image: url('/pictures/pexels-steve-johnson-640.jpg');
  background-repeat: repeat;
  height: 100%;
  width: 100%;
}

.header-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.heading-one {
  color: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1rem 4rem;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

li a:hover {
  background-color: rgb(165, 156, 156);
}

main {
  margin-top: 0;
}

.hotelimages {
  margin-top: 3rem;
  width: 100%;
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hotelimages img {
  height: 34%;
  width: 33%;
}
.hotelinfo {
  margin-top: 0;
}

.hotelinfo-item {
  width: 100%;
  height: 100%;
  background-color: black;
  padding-bottom: 5rem;
}

.hotelinfo img {
  width: 40%;
  height: 40%;
}

.hotelinfo h3 {
  text-align: center;
  color: #ffffff;
}

h2 {
  text-align: center;
  color: #ffffff;
  padding-top: 8rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  margin-top: 0;
}
/* h3 for rooms */
.room-heading {
  text-align: start;
  margin-top: 0;
  padding-left: 10rem;
}
/* h3 for form */
.form-heading {
  text-align: start;
}
.room-budget,
.room-standard,
.room-luxury {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.price {
  position: absolute;
  bottom: 80%;
  left: 53%;
  transform: translate(-80%, -53%);
  background-color: white;
  font-weight: bold;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  text-align: center;
  padding: 1rem;
}

.form {
  padding-top: 2rem;
  padding-bottom: 10rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: #ffffff;
}
input#name,
input#transferCode,
input#arrivalDate,
input#departureDate {
  width: 15rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
select#rooms.form-input {
  width: 16.3rem;
  padding: 0.5rem;
}
button {
  margin-top: 2rem;
  height: 2rem;
  width: 16.3rem;
  background-color: black;
  color: white;
}
.receipt {
  padding-top: 5rem;
}

.footer {
  width: 100%;
  height: 20rem;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10rem;
  padding-top: 3rem;
}
