body {
  height: 100vh;
  background-color: beige;
}

header {
  margin: 10rem;
  height: 30%;
  width: 100%;
  position: relative;
  background-color: black;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header img {
  margin-top: 0;
  width: 40%;
  height: 20%;
}

.heading-one {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

main {
  margin-top: 0;
}

.hotelimg img {
  margin-top: 0;
  height: 30%;
  width: 30%;
}
.hotelimg {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
